@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFProDisplay-Bold.woff2') format('woff2'),
      url('./assets/fonts/SFProDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFProDisplay-Regular.woff2') format('woff2'),
      url('./assets/fonts/SFProDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'SF Pro Display';
  color: #161549;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  list-style: none outside none;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.paragraph p {
  color: #7c7b8f;
}
.title p,h1 {
  font-size: 3rem;
  padding: 0px;
  margin: 0px;
}

.title h1 {
  font-size: 4rem;
}
.container {
  
  padding-top: 40px;
  padding: 30px;
  height: 100%;
}
.icon {
  font-family: 'FA Solid';
  color: white;
}
form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

::placeholder, select{
  color: #eaeaea;
  opacity: 0.5;
}
input, select{
  color: white;
  font-size: 1em;
  border: none;
  outline: none;
  border-bottom: 1px solid #5d5970;
  margin: 8px;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  transition: ease-in 0.14s;
}

form button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #5f5cc7;
  border-radius: 10px;
}

form button:hover {
  background-color: #494696;
}
input:focus {
  color: white;
  border-bottom: 1px solid white;
}
input:focus::placeholder {
  color: white;
}
.card {
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 30px;
  background-color: #161549;
  width: 150px;
  height: 120px;
  padding: 10px;
  box-shadow: 10px 10px 77px -27px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 77px -27px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 77px -27px rgba(0,0,0,0.75);
}

.card ul {
  padding: 10px;
  text-align: right;
}
.card li {
  font-size: 1.3rem;
  margin: 0px;
  list-style: none;
  color: white;
  font-weight: normal;
}

.part {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.create .card {
  justify-content: flex-start;
}

.create ul {
  text-align: left;
}

.create p, .title p,h1{
  text-align: right;
}

.left {
  width: 70%;
}

.right {
  width: 30%;
  background-color: #161549;
  display: flex;
  justify-content:center;

}

.right h1 {
  padding-top: 40px;
  color: white;
}